.application {
  padding: 1.5em;

  &__header {
    padding-bottom: 2.5em;
  }

  &__title {
    font-size: 42px;
    font-weight: bold;
    color: #D5A100;
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 400;
    color: #D5A100;
    letter-spacing: 0;
  }
}
