<div class="list">
  <ng-container *ngIf="!loading; else LoadingTemplate">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Lista de pokémons</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-pokemon-list-table [data]="data"></app-pokemon-list-table>
        <mat-paginator [length]="totalItems" [pageSize]="10" (page)="changePage($event)"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>


<ng-template #LoadingTemplate>
  <div class="list__loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
